@import "tw-animate-css";

:root {
  --background: oklch(94.61% 0.043 211.12);
  --secondary-background: oklch(100% 0 0);
  --foreground: oklch(0% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(76.89% 0.139164 219.13);
  --border: oklch(0% 0 0);
  --ring: oklch(0% 0 0);
  --overlay: oklch(0% 0 0 / 0.8);
  --shadow: 2px 2px 0px 0px var(--border);
  --bg-surface: oklch(100% 0 0);
  --bg-surface-secondary: oklch(94.61% 0.043 211.12);
  --color-border: oklch(90% 0.02 211);
  --color-border-light: oklch(85% 0.01 211);
  --color-border-main: oklch(0% 0 0);
  --text-primary: oklch(0% 0 0);
  --text-secondary: oklch(50% 0 0);
  --text-tertiary: oklch(70% 0 0);
  --color-error: #DC2626;
  --brand-primary: oklch(76.89% 0.139164 219.13);
  --brand-primary-shadow: oklch(76.89% 0.139164 219.13 / 0.5);
  --brand-primary-hover: oklch(70% 0.12 219);
  --brand-primary-light: oklch(85% 0.08 219);
  --brand-secondary: oklch(87% 0.06 30);
  --brand-secondary-shadow: oklch(87% 0.06 30 / 0.5);
  --brand-secondary-hover: oklch(80% 0.05 30);
  --brand-secondary-light: oklch(92% 0.03 30);
  --chart-1: #00C8F0;
  --chart-2: #FF7A05;
  --chart-3: #7A83FF;
  --chart-4: #FF4D50;
  --chart-5: #FACC00;
  --chart-active-dot: #000;
}

.dark {
  --background: oklch(27.11% 0.0303 225.38);
  --secondary-background: oklch(23.93% 0 0);
  --foreground: oklch(92.49% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(64.37% 0.1162 218.75);
  --border: oklch(0% 0 0);
  --ring: oklch(100% 0 0);
  --shadow: 2px 2px 0px 0px var(--border);
  --bg-surface: oklch(23.93% 0.01 225.38);
  --bg-surface-secondary: oklch(27.11% 0.0303 225.38);
  --color-border: oklch(40% 0.02 225);
  --color-border-light: oklch(35% 0.01 225);
  --color-border-main: oklch(100% 0 0);
  --text-primary: oklch(92.49% 0 0);
  --text-secondary: oklch(65% 0 0);
  --text-tertiary: oklch(55% 0 0);
  --color-error: #EF4444;
  --brand-primary: oklch(64.37% 0.1162 218.75);
  --brand-primary-shadow: oklch(64.37% 0.1162 218.75 / 0.5);
  --brand-primary-hover: oklch(70% 0.12 218);
  --brand-primary-light: oklch(45% 0.08 218);
  --brand-secondary: oklch(60% 0.06 30);
  --brand-secondary-shadow: oklch(60% 0.06 30 / 0.5);
  --brand-secondary-hover: oklch(50% 0.05 30);
  --brand-secondary-light: oklch(35% 0.03 30);
  --chart-1: #009DBD;
  --chart-2: #EB6D00;
  --chart-3: #7A83FF;
  --chart-4: #FF6669;
  --chart-5: #E0B700;
  --chart-active-dot: #fff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-foreground font-base bg-background;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}
